@using FantasyLuckyDip.Website.Models
@model FantasyLuckyDip.Website.Models.LeagueTableAthleteModel

<div id="athlete-popup-@this.Model.Id" class="popup athlete-popup" title="@this.Model.FullName">
    <div class="image">
        <img src="@Url.Action("GetAthleteProfileImage", "Image", new { athleteId = this.Model.IaafId })" data-id="@this.Model.Id" class="image"/>
    </div>
    <div class="results">
        <table>
            @foreach (var athleteDiscipline in this.Model.Disciplines)
            {
                <tr class="discipline">
                    <td class="label">@athleteDiscipline.Name:</td>
                    <td class="data">@athleteDiscipline.PlaceDisplay</td>
                </tr>
            }
        </table>
    </div>
</div>

